@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import"reset.css";@import"pro_pages_style.css";@import"grid.css";@import"forms.css";@import"prettyPhoto.css";@import"jquery.snippet.min.css";
@import"../skin/blue.monday/jplayer.blue.monday.css";@import"../css/smoothness/jquery-ui-1.8.17.custom.css";
body{background:#010d11;font:13px/22px Georgia, "Times New Roman", Times, serif;color:#022029;position:relative;min-width:980px;}
html,body{height:100%;}
p,.p{padding-bottom:22px;}
.p0 {padding-bottom:0 !important;}
.p1 {padding-bottom:0;}
a{color:#ed1f27;outline:none;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline}
/*  Header styles */
h1,h2,h3,h4,h5,h6{line-height:1.3em;color:#ed1f27;font-family: 'Leckerli One', cursive;text-transform:none;font-weight:normal;padding-bottom:8px;}
h1{font-size:40px;padding-bottom:23px;}
h2{font-size:35px;}
h3{font-size:30px;} 
h4{font-size:27px;}  
h5{font-size:25px;}
h6{font-size:20px;}
/* Global Structure---------------------------------------- */
.main {width:940px;padding:0;margin:0 auto;position:relative;}
.wrapper {width:100%;overflow:hidden;}
/*----- txt,links,lines,titles -----*/
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left !important;}
.fright{float:right !important;}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.d-in-block {display:inline-block;}
.d-block {display:block;}
.reg {text-transform:uppercase;}
.reg-2 {font-weight:bold;}
.rel {position:relative;}
.color1{color:#ff2100;}
.color2{color:#fff;}
/*********************************header*************************************/
header {
	background:url(../images/header.png) left top repeat;
}
.header_bg1 {
	background:url(../images/header_bg1.png) center top no-repeat;
}
.header_bg2 {
	background:url(../images/header_bg2.png) center top repeat-x;
	padding:67px 0 60px;
	position:relative;
}
header h1 {
	padding:0;
	position:absolute;
	top:42px;
	left:50%;
	margin-left:-122px;
	z-index:99;
}
	header h1 a {
		display:block; 
		text-indent:-9999px;
		background:url(../images/logo.png) no-repeat 0 0;
		width:244px;
		height:70px;
}
/********************** Content ************************/
section#content {
	position:relative;
	z-index:1;
	text-transform:uppercase;
	background:url(../images/content.png) left bottom repeat-x #e9faff;
	padding:50px 0 42px;
	border-bottom:1px solid #c7d1d4;
}
section#content-2 {
	background:#022029;
	padding:45px 0;
	text-transform:uppercase;
	color:#608e9d;
	font-size:14px;
	line-height:24px;
}
section#content-2 h1 {
	color:#fff;
}
/******************** Footer ******************/
footer {
	font-size:14px;
	line-height:24px;
	color:#608e9d;
	padding:40px 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
footer a {
	color:#608e9d;
}
/*********************************boxes**********************************/
.indent {padding:9px 0 0 14px;}

.indent-left {padding-left:0;}

.indent-bottom {padding-bottom:0;}

.indent-right {padding-right:50px;}

.indent-top {padding-top:0;}

.margin-top { margin-top:0;}

.margin-bot {margin-bottom:50px;}
.margin-bot1 {margin-bottom:42px;}
.margin-bot2 {margin-bottom:10px;}

.margin-left {margin-left:40px;}

.margin-right {margin-right:0;}

.img-indent {float:left; margin:7px 20px 0px 0px;}
.img-indent-2 {float:left; margin:7px 15px 0px 0px;}
.figure-1 img {
	display:inline-block;
	border:7px solid #fff;
	box-shadow:1px 2px #021a21;
}
.figure-2 figcaption {
	overflow:hidden;
	padding-top:25px;
}
.figure-2 img,.map {
	border:7px solid #fff;
	box-shadow:1px 2px #cad6da;
	display:inline-block;
}
.map {
	margin-bottom:15px;
}
.figure-2 .lightbox-image-2 {
	position:relative;
	display:block;
}
.figure-2 .lightbox-image-2 span,.figure-2 .lightbox-image-2 b {
	position:absolute;
	display:block;
	left:50%;
	top:50%;
	bottom:50%;
	right:50%;
	background:url(../images/light_box.png) left top repeat;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.figure-2 .lightbox-image-2 b {
	background:url(../images/plus.png) center center no-repeat;
	opacity:0;
}
.figure-2 .lightbox-image-2:hover b {
	opacity:1;
}
.figure-2 .lightbox-image-2:hover span,.figure-2 .lightbox-image-2:hover b {
	left:3%;
	top:3%;
	bottom:3%;
	right:3%;
}
.figure-2 figcaption span {
	display:block;
	font-size:27px;
	color:#ed1f27;
	margin-top:-6px;
}
/***** menu *****/
nav {
	width:100%;
}
.menu {
	width:100%;
	padding:0;
	position:relative;
	z-index:20;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.menu li {
	float:left; 
	position:relative;
	text-transform:uppercase;
}
.menu>li,.menu>li.un_border {
	background:url(../images/border.png) left 3px no-repeat;
	padding-left:38px;
	margin-left:36px;
}
.menu li:first-child,.menu>li.un_border {
	background:none;
	padding-left:0;
	margin-left:0;
}
.menu li a {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#000;
	position:relative;
	z-index:20;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.menu li.sfHover {
	position:relative;
	z-index:10;
}
.menu li a:hover {
	text-decoration:none;
}
.menu li a.active,
.menu > li > a:hover,
.menu > li.sfHover > a {
	color:#ed1f28;
}
.menu li a .sf-sub-indicator {
	display:block;
	position:absolute;
	width:14px;
	height:12px;
	background:url(../images/sub-1.png) left top no-repeat;
	overflow:hidden;
	top:-999em;
	text-indent:-999em;
}
.menu li li a .sf-sub-indicator {
	width:12px;
	height:14px;
	background-image:url(../images/sub-2.png);
}
.menu > li.sfHover > a .sf-sub-indicator {
	top:38px;
	left:50%;
	margin-left:-7px;
}
.menu > li li.sfHover > a .sf-sub-indicator {
	top:10px;
	right:-20px;
}
.menu ul {
	z-index:20;
	letter-spacing:normal;
	position:		absolute;
	top:			-9999em;
	width:			127px;
	background:#ed1f28;
	border:			none;
	text-align:center;
	padding:22px 0 24px;

}
.menu ul ul {
	background:#32b3e1;
}
.menu ul li {width:	100%;}
.menu li:hover {visibility:	inherit; }
.menu li li {
	background:url(../images/menu.png) center top no-repeat;
	margin:0;
	border:none;
}
.menu li li:first-child {
	background:none;
}
.menu li li a {
	background:none;
	display:		block;
	padding:		6px 0 5px;
	font-size:		14px;
	line-height:	17px;
	color:			#fff;
}
.menu li li > a:hover, 
.menu li li.sfHover > a {
	color:#1d1d1d; 
}

.menu li:hover ul, .menu li.sfHover ul {
	left:			0px;
	top:			50px;
	z-index:		999;
}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			147px;
	top:			0px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}

/*********************************bg's*************************************/
.bg-1 {
	background:url(../images/bg-1.jpg) center top no-repeat #dcf4fd;
}
.bg-2 {
	background:url(../images/bg-2.png) left top repeat-x;
	padding:37px 0;
}
.border-1 {
	border-bottom:1px solid #354d54;
	padding-bottom:47px;
}
.border-2 {
	border-bottom:1px solid #354d54;
	padding-bottom:12px;
	margin-bottom:12px;
}
.border-3 {
	border-bottom:1px solid #d1e4e9;
	padding-bottom:40px;
	margin-bottom:40px;
}
.time {
	display:blockl;
	width:60px;
	padding:11px 0 15px;
	text-align:center;
	background:#022029;
	font-size:13px;
	line-height:16px;
	font-weight:bold;
	color:#fff;
}
/*********************************buttons*************************************/
.link-1 {
	font-weight:bold;
	color:#fff;
}
.link-2 {
	color:#022029;
}
/*********************************lists*************************************/
.dl-1 dt {
	font-weight:bold;
	color:#ed1f27;
}
.dl-1 dd {
	overflow:hidden;
}
.dl-1 dd span {
	display:block;
	float:left;
	width:105px;
}
.dl-1 a {
	color:#022029;
}
.soc_list {
	float:right;
	overflow:hidden;
}
.soc_list li {
	float:left;
	margin-left:6px;
}
.soc_list li a {
	display:block;
	width:32px;
	height:32px;
	background:#7a7a7a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius:16px;
}
.soc_list li a:hover {
	background:#464646;
}
.list-1 li {
	font-size:13px;
	line-height:16px;
	padding:7px 0 8px 20px;
	background:url(../images/list-1.png) left 10px no-repeat;
	font-weight:bold;
}
.list-1 li a {
	color:#ed1f27;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list-1 li a:hover {
	text-decoration:none;
	color:#32b3e1;
}
/*********************************fonts*************************************/
/******* slider ********/
.slider .items {
	display:none;
}
.slider {
	position:relative;
	z-index:5;
}
.slider .banner {
	position:absolute;
	z-index:10;
	left:0;
	right:0;
	background:url(../images/banner.png) left top repeat;
}
.banner_indent {
	padding:23px 0 16px;
}
.banner-border {
	background:url(../images/col-1-border.png) 447px top repeat-y;
}
.col-1 {
	float:left;
	width:420px;
	padding-right:28px;
	text-align:right;
}
.col-2 {
	float:left;
	width:408px;
	color:#c3c4bf;
	text-transform:uppercase;
	padding:5px 60px 0 24px;
}
.title-1 {
	font-size:30px;
	color:#ed1f28;
}
.title-2 {
	font-size:60px;
	color:#fff;
	margin-top:-20px;
}
.title-1,.title-2 {
	font-family: 'Leckerli One', cursive;
	text-transform:none;
	line-height:1.2em;
}
.slider_btn {
	position:absolute;
	display:block;
	width:50px;
	height:50px;
	background-color:#ec1d25;
	background-repeat:no-repeat;
	top:171px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index:6;
}
.slider .pic {
	z-index:90;
}
.slider_btn:after {
	display:block;
	width:20px;
	height:15px;
	content:'';
	position:absolute;
	bottom:-15px;
	overflow:hidden;
	z-index:5;
}
.slider_prev:after {
	background:url(../images/slider-coner-left.png) left top no-repeat;
	left:0;
}
.slider_next:after {
	background:url(../images/slider-coner-right.png) left top no-repeat;
	right:0;
}
.slider_prev {
	background-image:url(../images/slider_left.png);
	background-position:20px 20px;
	left:-20px;
}
.slider_next {
	right:-20px;
	background-image:url(../images/slider_right.png);
	background-position:24px 20px;
}
.slider_next:hover {
	background-position:28px 20px;
}
.slider_prev:hover {
	background-position:16px 20px;
}
/******* carousel ********/
.carousel,.carousel-2 {
	width:942px !important;
}
.carousel li,.carousel-2 li {
	margin-right:20px;
	display:none;
}
.carousel figure img,.carousel-2 figure img {
	border:7px solid #fff;
	box-shadow:1px 2px #cad6da;
	display:inline-block;
	margin-bottom:15px;
}
.carousel-2 figure img {
	box-shadow:1px 2px #021a21;
	margin-bottom:25px;
}
.carousel figure figcaption,.carousel-2 figure figcaption {
	overflow:hidden;
}
.carousel figure figcaption a,.carousel-2 figure figcaption a {
	font-weight:bold;
}
.carousel-2 figure figcaption a {
	color:#fff;
}
.carousel figure figcaption span {
	display:block;
	font-size:27px;
	color:#ed1f27;
	margin-top:-6px;
}
.car_btn,.car_btn-2 {
	display:block;
	position:absolute;
	z-index:5;
	width:41px;
	height:41px;
	top:-73px;
	background: #8dacb6; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhkYWNiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjMDMzNzQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDgwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top, #8dacb6 0%, #033747 3%, #00080a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8dacb6), color-stop(3%,#033747), color-stop(100%,#00080a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #8dacb6 0%,#033747 3%,#00080a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #8dacb6 0%,#033747 3%,#00080a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #8dacb6 0%,#033747 3%,#00080a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #8dacb6 0%,#033747 3%,#00080a 100%); /* W3C */
	filter:none;
	border-radius:20px;
	overflow:hidden;
}
.car_btn-2 {
	background: #f2fafc; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZmFmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmRjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f2fafc 0%, #abdcec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2fafc), color-stop(100%,#abdcec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2fafc 0%,#abdcec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2fafc 0%,#abdcec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2fafc 0%,#abdcec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f2fafc 0%,#abdcec 100%); /* W3C */
	filter:none;
}
.car_btn span,.car_btn-2 span {
	display:block;
	width:100%;
	height:100%;
	position:relative;
	z-index:3;
}
.car_prev span,.car_prev-2 span {
	background:url(../images/car_prev.png) 15px 13px no-repeat;
}
.car_next span,.car_next-2 span {
	background:url(../images/car_next.png) 18px 13px no-repeat;
}
.car_prev-2 span {
	background-image:url(../images/car_prev-2.png);
}
.car_next-2 span {
	background-image:url(../images/car_next-2.png);
}
.car_btn b,.car_btn-2 b {
	position:absolute;
	z-index:2;
	background: #fb3645; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiMzY0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDA4MGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #fb3645 0%, #e0080a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb3645), color-stop(100%,#e0080a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fb3645 0%,#e0080a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fb3645 0%,#e0080a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fb3645 0%,#e0080a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fb3645 0%,#e0080a 100%); /* W3C */
	filter:none;
	border-radius:20px;
	display:block;
	left:50%;
	right:50%;
	top:50%;
	bottom:50%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.car_btn:hover b,.car_btn-2:hover b {
	left:0%;
	right:0%;
	top:0%;
	bottom:0%;
}
.car_prev,.car_prev-2 {
	right:50px;
}
.car_next,.car_next-2 {
	right:0px;
}
.col-3 {
	float:left;
	width:150px;
}
.col-4 {
	float:right;
	width:70px;
	text-align:right;
}
.col-5 {
	float:left;
	width:220px;
}
.price-1 {
	float:left;
	width:80px;
	overflow:hidden;
}
.price-1 strong {
	display:block;
	width:72px;
	height:72px;
	float:right;
	background: #f23544; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyMzU0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmEzNjQ0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNCUiIHN0b3AtY29sb3I9IiNmYTM1NDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNlNDEwMTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTAwODBhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, #f23544 0%, #fa3644 1%, #fa3543 4%, #e41014 80%, #e0080a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f23544), color-stop(1%,#fa3644), color-stop(4%,#fa3543), color-stop(80%,#e41014), color-stop(100%,#e0080a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f23544 0%,#fa3644 1%,#fa3543 4%,#e41014 80%,#e0080a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f23544 0%,#fa3644 1%,#fa3543 4%,#e41014 80%,#e0080a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f23544 0%,#fa3644 1%,#fa3543 4%,#e41014 80%,#e0080a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f23544 0%,#fa3644 1%,#fa3543 4%,#e41014 80%,#e0080a 100%); /* W3C */
	filter:none;
	color:#fff;
	text-align:center;
	font-size:20px;
	line-height:72px;
	border-radius:35px;
}
/******* form's ********/

/***** contact form *****/
#message_form fieldset {
	border:none;
	padding:0;
	}			
		#message_form label {
			display:block;
			min-height:47px;
		}
		#message_form label.message {
			height:280px;
		}
		#message_form label input {
			background:url(../images/form_mess.png) left top repeat;
			border:none;
			color: #022029;
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size:13px;
			height:16px;
			font-weight: normal;
			margin:0;
			text-transform:uppercase;
			outline:none;
			overflow: hidden;
			padding:11px 15px 12px;
			vertical-align: middle;
			width:313px;
		}
		#message_form .area .error { float:none;}
		#message_form textarea {
			background:url(../images/form_mess.png) left top repeat;
			border:none;
			color: #022029;
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size:13px;
			line-height:16px;
			font-weight: normal;
			margin: 0;
			text-transform:uppercase;
			outline: medium none;
			overflow:auto;
			padding:11px 15px;
			vertical-align: middle;
			width:510px;
			height:258px;
			resize:none;
	}
		#message_form a {cursor:pointer;}
			#message_form .success {display:none;margin-bottom:10px;background: none;box-shadow: none;color: #000;}
			#message_form .error,
			#message_form .empty {
				color:#f00;
				font-size:11px;
				line-height:18px;
				display:none;
				overflow:hidden;
			}
	.buttons-wrapper {text-align:right; padding-top:10px; position:relative;}
	.buttons-wrapper a { margin-left:10px;}
